.Logo {
  background-color: rgb(74, 72, 72);
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px dotted black;
}

.Logo img {
  height: 100%;
}

@media (max-width: 500px) {
  .Logo {
    width: 34%;
  }
}
