.Logo {
  background-color: rgb(252, 251, 251);
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 100%;
}

@media (max-width: 500px) {
  .Logo {
    width: 14%;
  }
}
